
<%= form_for @travel, :update => :message, remote: true do |f| %>
  <p>Name : <%= f.text_field :name, :size => "25" %>  <%= submit_tag "Create" %>&nbsp;<span id="message"></span></p>
<% end %>
<p><%= link_to "Close", :update => :travel_id, :url => {:controller => :travels}, :method => :get, :complete => "Modalbox.hide()", remote: true %></p>
