

    <div class="inner">
      <div class="actions-bar">

        
        <div class="clear" />
      </div>
      <br />
      <table class="table">
        <tbody>
          
          
          
            <% @names.each do |name| %>
          <tr">
            
            <td><%=name%></td>
			<td class="last" width="300px">
              
            </td>
          </tr>
            
          <% end -%>
        </tbody>
      </table>
      <div class="actions-bar">        
        
        <div class="clear" />
      </div>
    </div>
  </div>