  <div class="content">
    <h2 class="title">Login</h2>
    <br />
    <br />
    <div class="inner">
       <%= form_for :user, :url => login_url, :html => {:class => :form} do |f|%>
       <table class="table">
         <tr>
	   <td>Username : </td>
	   <td><%= text_field :user, :username %></td>
	 </tr>
	 <tr>
	   <td>Password : </td>
	   <td><%= password_field :user, :password %></td>
	 </tr>
       </table>
       <div class="actions-bar">
          <%= submit_tag "Login" %>
          <div class="clear"/>
        </div>
       <% end -%>
    </div>
  </div>

